@model UETFA.Models.Utakmica

@{
    ViewData["Title"] = "Delete";
}
<span style="color:white;"> </span>
    <h1 style="color:white;">Delete</h1>

    <h3  style="color:white;">Are you sure you want to delete this?</h3>
    <div  style="color:white;">
        <h4>Utakmica</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.statusUtakmice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.statusUtakmice)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.datumUtakmice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.datumUtakmice)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.tim1)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.tim1)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.tim2)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.tim2)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.rezultat)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.rezultat)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
