@model IEnumerable<UETFA.Models.Utakmica>

@{
    ViewData["Title"] = "Index";
}
<span style="color:white;"> </span>
    <h1 style="color:white;">Utakmice</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr style="color:white">
                <th>
                    @Html.DisplayNameFor(model => model.statusUtakmice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.datumUtakmice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tim1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tim2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rezultat)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr style="color:white">
                <td>
                    @Html.DisplayFor(modelItem => item.statusUtakmice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.datumUtakmice)
                </td>
                <td>
                    @Html.Label((string)ViewBag.nazivitimove1)
                </td>
                <td>
                    @Html.Label((string)ViewBag.nazivitimove2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rezultat)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
