@model IEnumerable<UETFA.Models.Utakmica>

@{
    ViewData["Title"] = "Index";
}
<span style="color:white;"> </span>
    <h1 style="color:white;">Utakmice</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr style="color:white">
                <th>
                    @Html.DisplayNameFor(model => model.statusUtakmice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.datumUtakmice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.idTima1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.idTima2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.idRezultata)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < ViewBag.nazivi1.Count; i++)
               
                {
                    @foreach (var item in Model)
                    {
                        <tr style="color:white">
                            <td>
                                @Html.DisplayFor(modelItem => item.statusUtakmice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.datumUtakmice)
                            </td>
                            <td>

                                @ViewBag.nazivi1[i].Text

                            </td>
                            <td>

                                @ViewBag.nazivi2[i].Text

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.idRezultata)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                            </td>
                        </tr>
                        i++;
                    }
                
            }
        </tbody>
    </table>
