@model IEnumerable<UETFA.Models.Tim>

@{
    ViewData["Title"] = "Tabela";
}

<h1>Tabela</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datiGolovi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.primljeniGolovi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.brojOdigranihUtakmica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trener)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bodovi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.brojPobjeda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.brojNerjesenih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.brojPoraza)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datiGolovi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.primljeniGolovi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brojOdigranihUtakmica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trener)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bodovi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brojPobjeda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brojNerjesenih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brojPoraza)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
