@model IEnumerable<UETFA.Models.Igrac>

@{
    ViewData["Title"] = "Index";
}

<span style="color:white;"> </span>
<h1 style="color:white;">Igrači</h1>

<p>
    <a asp-action="Create">Dodaj novog igrača</a>
</p>
<p>
    <a asp-action="Index">Strijelci RANG LISTA</a>
</p>
<p>
    <a asp-action="Asistenti">Asistenti RANG LISTA</a>
</p>
<table class="table">
    <thead>
        <tr style="color:white" class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.TimID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imePrezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.brojGolova)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.brojAsistencija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.brojCrvenihKartona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.brojZutihKartona)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < ViewBag.nazivi1.Count; i++)
        {
            @foreach (var item in Model)
            {
                <tr style="color:white" class="text-center">
                    <td>
                        @ViewBag.nazivi1[i].Text
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.imePrezime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.brojGolova)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.brojAsistencija)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.brojCrvenihKartona)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.brojZutihKartona)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>
