@model UETFA.Models.Utakmica

@{
    ViewData["Title"] = "Delete";
}

<span style="color:white;"> </span>
<h1 style="color:white;">Obriši Utakmicu</h1>

<div style="color:white;">
    <h4>Utakmica</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.statusUtakmice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.statusUtakmice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.datumUtakmice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.datumUtakmice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idTima1)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.nazivi1[0].Text
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idTima2)
        </dt>
        <dd class="col-sm-10">
            @ViewBag.nazivi2[0].Text
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sudija)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sudija)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.rezTim1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.rezTim1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.rezTim2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.rezTim2)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
