@model IEnumerable<UETFA.Models.Utakmica>

@{
    ViewData["Title"] = "Index";
}

<span style="color:white;"> </span>
<h1 style="color:white;">Utakmice</h1>


<p>
    <a asp-action="Create">Dodaj novu utakmicu</a>
</p>
<table class="table">
    <thead>
        <tr style="color:white" class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.statusUtakmice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datumUtakmice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idTima1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idTima2)
            </th>

            <th>
                Rezultat
            </th>
            <th>LiveStream</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < ViewBag.nazivi1.Count; i++)

        {
            @foreach (var item in Model)
            {
                <tr style="color:white" class="text-center">
                    <td>
                        @Html.DisplayFor(modelItem => item.statusUtakmice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.datumUtakmice)
                    </td>
                    <td>
                        @ViewBag.nazivi1[i].Text
                    </td>
                    <td>
                        @ViewBag.nazivi2[i].Text
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.rezTim1) : @Html.DisplayFor(modelItem => item.rezTim2)
                    </td>
                    <td>
                        @if (item.statusUtakmice == "U toku")
                        {
                            @Html.ActionLink("Gledaj", "Index", "LiveStream")
                        }
                    </td>
                    <td>
                        @if (item.statusUtakmice != "Zavrsena")
                        {
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>} |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        @if (item.statusUtakmice != "Zavrsena")
                        {
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>}
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>
